@model PayItForward.Web.Models.AdminViewModels.UserDetailsViewModel

<h2 class="text-center">
    User Details
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</h2>
<ul class="list-group">
    <li class="list-group-item">
        <h2>Name:</h2>
        <span>@Model.User.FirstName @Model.User.LastName</span>
    </li>
    <li class="list-group-item">
        <h2>Id:</h2>
        <span>@Model.User.Id</span>
    </li>
    <li class="list-group-item">
        <h2>Email: </h2>
        <span>@Model.User.Email</span>
    </li>
    <li class="list-group-item">
        <h2>Available Money Amount: </h2>
        <span>@Model.User.AvilableMoneyAmount</span>
    </li>
    <li class="list-group-item">
        <h2>Made Donations: @Model.Donations.Count()</h2>
        @if (Model.Donations.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title of story</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var donation in Model.Donations)
                    {
                        <tr>
                            <td>@donation.Story.Title</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </li>
    <li class="list-group-item">
        <h2>Stories: </h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Goal Amount</th>
                    <th>Expiration Date</th>
                    <th>Date Created</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var story in Model.Stories)
                {
                    <tr>

                        <td>@story.Title</td>
                        <td>@story.GoalAmount</td>
                        <td>@story.ExpirationDate</td>
                        <td>@story.DateCreated</td>
                        <td>@story.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </li>
</ul>
<div class="btn btn-lg btn-danger btn-block" role="button" style="font-weight: bold; ">
    <h2>
            @Html.ActionLink(
             "Delete",
             "DeleteUser",
             new { id = @Model.User.Id },
             new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
    </h2>
</div>
