@model PayItForward.Web.Models.DonationViewModels.DonateViewModel
@{
    ViewData["Title"] = "Donation";
}

<div class="jumbotron">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <h1>@Model.Title</h1>
        <p></p>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    @if (string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="~/images/no-image-image.png" alt="Card image cap">
                    }
                    else
                    {
                        <img src="@Model.ImageUrl" alt="Image in here">

                    }     
                    <div class="caption">
                        <h4><strong>Goal: </strong>@Model.GoalAmount</h4>
                        <h4>
                            <strong>Earned: </strong>
                            @Model.CollectedAmount
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-sm-2">Email</label>
                    <div class="col-xs-10">
                        <p class="form-control-static" style="font-size: 15px;">@Model.Donator.Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="control-label col-sm-2">Name</label>
                    <div class="col-xs-10">
                        <p class="form-control-static" style="font-size: 15px;">
                            @Model.Donator.FirstName @Model.Donator.LastName
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Amount" class="col-sm-2 control-label">Donate</label>
                    <div class="col-sm-5">
                        <input asp-for="@Model.Amount" class="form-control" />
                        <span asp-validation-for="@Model.Amount" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Make Donation</button>
                </div>
            </div>
            <h2 class="col-md-3 col-md-offset-4 text-danger">@Model.ErrorMessage</h2>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
